.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}


/* gets rid of bullet points in wtforms radio buttons */
fieldset.inlineLabels ul {list-style:none}