{% extends "base.html" %}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Grammar aid</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  </div>
</nav>



<!-- CONTENT HERE -->
<div class="container mt-5">

    <h1>About this study</h1>

    <h3>What is the purpose of this research?</h3>

    <p>Through the implementation of <a href="https://prowritingaid.com" target="_blank">ProWritingAid</a> into ESL classrooms,
        I am trying to answer the following questions: </p>

        <ul>
            <li>How can software technologies like AWE help to support the process of self-regulated learning in ESL students? </li>
            <li>How do ESL students engage with the feedback provided by AWE programs to create their own learning? </li>
            <li>Does using AWE programs help ESL students become more proficient English writers?</li>
        </ul>

    <h3>How will data be collected from me?</h3>

    <p>Every time you interact with the program, data is recorded automatically. The following data will be collected:</p>

    <ul>
        <li>Time spent using the platform</li>
        <li>Functions used </li>
        <li>Feedback uptake </li>
        <li>Submitted text</li>
    </ul>

    <p>You might be randomly selected for an interview at the end of the workshop. If this happens, I will be
        recording the interview as audio with no images.</p>

    <h3>What will be done with the data? Will it be kept confidential?</h3>

    <p>The data will be analysed quantitatively and qualitatively. I want to look at how you use the feedback,
        whether it helps you engage with your texts and whether it allows you to improve the quality of your writing. </p>

    <p>All the data will be anonymised, so it is impossible to trace back to the original student.
        Only a numbered ID will identify each student’s work, but the keys to those ID numbers will be stored in an encrypted file.
        All data collected will be stored in an encrypted form as well.
    </p>

    <h3>Will the results be shared? </h3>

    <p>Excerpts from the data may be shared with my PhD supervisors, but as stated above, all identifying information will be erased from them and they will be anonymised. </p>

    <p>The results will be used as part of my doctoral thesis, and I may publish a paper based on this research.
        If the research is published, anonymity will be respected as stated in the previous section. </p>

    <p>If you have any questions about this project, either now or in the future, please contact me at <a href="mailto:ana.hibert@ed.ac.uk">ana.hibert@ed.ac.uk.</a> </p>

</div>

{% endblock %}