{% extends "base.html" %}

{% block content %}

    <div class ="container mt-5">
        <div class="container">
            <h2>Register a new account</h2>
        </div>

        <div class ="container mt-3">
            <h3>Before you register...</h3>
            <p>This web application is part of my PhD research. The full
            information sheet can be found <a href="/about">in this link</a>, but the data that will be collected from
            you will be:
            <ul>
                <li>Demographic information</li>
                <li>Time spent using the platform</li>
                <li>Functions used </li>
                <li>Feedback uptake </li>
                <li>Submitted text</li>
            </ul>
            </p>
            <p>All of this data will be stored anonymously.</p>
            <p>If you want to withdraw from this study at any moment, for any reason, you can contact me at
                <a href="mailto:ana.hibert@ed.ac.uk">ana.hibert@ed.ac.uk</a> and I will immediately withdraw you
                and delete any data collected on you.</p>
            <p>By creating this account, you confirm that you are aware that your data will be collected,
            and that you understand the purposes for which the data will be used, as outlined <a href="/about" target="_blank">here.</a></p>
            <p>In order to register for this software, it is important that you fill out all the fields in the registration form.
            Your information will always remain anonymous.</p>
        </div>

        <div class="container page-form">
            <form id="login-form" action="/register" method="POST">
                {{ registrationform.hidden_tag() }}
                <fieldset class="form group">
                    <legend class="border-bottom mb-4">Register</legend>
                    <div class="form-group">
                        {{ registrationform.gender.label(class="form-control-label") }}

                        {% if registrationform.gender.errors %}
                            {{ registrationform.gender(class="form-control is-invalid", style="list-style:none") }}
                            <div class="invalid-feedback">
                                {% for errors in registrationform.gender.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ registrationform.gender(class="form-control", style="list-style:none") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ registrationform.program.label(class="form-control-label") }}

                        {% if registrationform.program.errors %}
                            {{ registrationform.program(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in registrationform.program.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ registrationform.program(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ registrationform.score.label(class="form-control-label") }}

                        {% if registrationform.score.errors %}
                            {{ registrationform.score(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in registrationform.score.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ registrationform.score(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ registrationform.english.label(class="form-control-label") }}

                        {% if registrationform.english.errors %}
                            {{ registrationform.english(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in registrationform.english.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ registrationform.english(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ registrationform.language.label(class="form-control-label") }}

                        {% if registrationform.language.errors %}
                            {{ registrationform.language(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in registrationform.language.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ registrationform.language(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ registrationform.email.label(class="form-control-label") }}

                        {% if registrationform.email.errors %}
                            {{ registrationform.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in registrationform.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ registrationform.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ registrationform.password.label(class="form-control-label") }}

                        {% if registrationform.password.errors %}
                            {{ registrationform.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in registrationform.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ registrationform.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ registrationform.password2.label(class="form-control-label") }}

                        {% if registrationform.password2.errors %}
                            {{ registrationform.password2(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in registrationform.password2.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ registrationform.password2(class="form-control") }}
                        {% endif %}
                    </div>
                    <div>
                        <p>By ticking the box below and creating an account, you acknowledge that you have read the information
                        provided and you agree to participate in this research. You also acknowledge that you understand
                        which data will be collected, for what purposes, and that you are aware of the mechanisms for withdrawing from
                        the study.</p>
                    </div>
                    <div class="form-check">
                        {{ registrationform.acceptance(class="form-check-input") }}
                        {{ registrationform.acceptance.label(class="form-check-label") }}

                        {% if registrationform.acceptance.errors %}
                            {{ registrationform.acceptance(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in registrationform.acceptance.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}

                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                        {{ registrationform.submit(class="btn btn-primary btn-block") }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}